<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>jpm - Installed packages</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<h1>jpm</h1>
			<h2>Installed packages</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th><th>Version</th>
					</tr>
				</thead>
				<tbody>
					${packages}
				</tbody>
			</table>
		</div>
	</body>
</html>
