<h2>Search</h2>

<form action="search" method="GET">
	<div class="form-group">
		<label for="query">Enter search terms</label>
		<input type="search" class="form-control" id="query" name="query" placeholder="Package search terms">
	</div>
	<button type="submit" class="btn btn-primary">Search</button>
</form>

<h3>Results for "${query}"</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th><th>Server</th><th>Version</th>
		</tr>
	</thead>
	<tbody>
		${rows}
	</tbody>
</table>
