<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>${title}</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div id="heading">
			<div class="wrapper">
				<div id="menu">
					<ul class="list-inline">
						<li>
							<img src="/img/icon.png" alt="jpm icon">
						</li>
						<li>
							<a href="installPackages">Install packages</a>
						</li>
						<li>
							<a href="update">Update database</a>
						</li>
						<li>
							<a href="list">Installed packages</a>
						</li>
						<li>
							<a href="logout">Log out</a>
						</li>
					</ul>
				</div>
				<div id="search-box">
					<form action="search" method="GET" class="form-inline">
						<div class="form-group">
							<label class="sr-only" for="search-input">Search</label>
							<input type="search" class="form-control" id="search-input" name="query" placeholder="Search packages">
						</div>
					</form>
				</div>
			</div>
		</div>

		<div id="content">
			<div class="wrapper">
				${_content_}
			</div>
		</div>
	</body>
</html>
